# Development environmment variables
.env

# osx ds_store
.ds_store

# test data
test-data/

# Files createed during unit tests
tests/fixtures/*_output.json
tests/fixtures/*_merge_input.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg